# Backend
grocery-store/server/node_modules
grocery-store/server/dist
grocery-store/server/.env

# Frontend
grocery-store-client/node_modules
grocery-store-client/dist
grocery-store-client/.env

# OS
.DS_Store
Thumbs.db